services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: taskdb
    ports:
      - "5437:5432"
    volumes:
      - db_django_data:/var/lib/postgresql/data

  web:
    build: .
    ports:
      - "8011:8000"
    depends_on:
      - db

volumes:
  db_django_data:
